# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# local llm
/local_llm/models/
/local_llm/__pycache__/
/local_llm/*.pyc
/local_llm/*.log
/local_llm/.env
/local_llm/embeddings/
/local_llm/vectorstores/
/local_llm/__pypackages__/
/local_llm/.python-version
/local_llm/.venv/
/local_llm/.mypy_cache/
/local_llm/.pytest_cache/
/local_llm/documents/*

# chroma db
/chroma_db/*